[data-theme="dark"] {
  --orange-50: #180501;
  --orange-100: #480d03;
  --orange-200: #781604;
  --orange-300: #a91d04;
  --orange-400: #db2404;
  --orange-500: #fd3613;
  --orange-600: #ff5f42;
  --orange-700: #f18f7d;
  --orange-800: #ebb8af;
  --orange-900: #efdcd9;
  --orange-950: #fbf9f9;

  --purple-50: #0c0316;
  --purple-100: #250a48;
  --purple-200: #3f107c;
  --purple-300: #5815b1;
  --purple-400: #7218e7;
  --purple-500: #8a49df;
  --purple-600: #a175dc;
  --purple-700: #b89cdd;
  --purple-800: #cfc0e2;
  --purple-900: #e5dfec;
  --purple-950: #faf9fb;

  --blue-50: #010818;
  --blue-100: #03184d;
  --blue-200: #052883;
  --blue-300: #0538ba;
  --blue-400: #0448f2;
  --blue-500: #306bfd;
  --blue-600: #6691ff;
  --blue-700: #95b0f3;
  --blue-800: #beccef;
  --blue-900: #dfe4f1;
  --blue-950: #f9f9fb;

  --yellow-50: #181201;
  --yellow-100: #4d3803;
  --yellow-200: #b88505;
  --yellow-300: #825e04;
  --yellow-400: #efac04;
  --yellow-500: #fdc22c;
  --yellow-600: #ffd261;
  --yellow-700: #f3d792;
  --yellow-800: #eee0bc;
  --yellow-900: #f1ecde;
  --yellow-950: #f1ecde;

  --red-50: #180105;
  --red-100: #4d0311;
  --red-200: #82041b;
  --red-300: #b80526;
  --red-400: #ef042f;
  --red-500: #fd2c53;
  --red-600: #ff617e;
  --red-700: #f392a4;
  --red-800: #eebcc5;
  --red-900: #f1dee1;
  --red-950: #fbf9f9;

  --cyan-50: #011418;
  --cyan-100: #033e4b;
  --cyan-200: #05687e;
  --cyan-300: #0592b2;
  --cyan-400: #05bde6;
  --cyan-500: #24d4fc;
  --cyan-600: #56dffe;
  --cyan-700: #8ae9ff;
  --cyan-800: #b8e9f4;
  --cyan-900: #ddeff3;
  --cyan-950: #f9fbfb;

  --pink-50: #18010e;
  --pink-100: #4b0329;
  --pink-200: #7e0545;
  --pink-300: #b20561;
  --pink-400: #e6057d;
  --pink-500: #fc2497;
  --pink-600: #fe56b0;
  --pink-700: #ff8ac8;
  --pink-800: #f4b8d8;
  --pink-900: #f3dde9;
  --pink-950: #fbf9fa;

  --green-50: #01180d;
  --green-100: #024d28;
  --green-200: #008542;
  --green-300: #09aa59;
  --green-400: #16ca70;
  --green-500: #33db87;
  --green-600: #64d89e;
  --green-700: #90dab5;
  --green-800: #b8e0cc;
  --green-900: #dbebe3;
  --green-950: #f9fbfa;

  --indigo-50: #040317;
  --indigo-100: #0a0845;
  --indigo-200: #100d74;
  --indigo-300: #1511a4;
  --indigo-400: #1a14d5;
  --indigo-500: #352fee;
  --indigo-600: #635ef3;
  --indigo-700: #928fea;
  --indigo-800: #bbb9e9;
  --indigo-900: #ddddee;
  --indigo-950: #f9f9fb;

  --neon-50: #151801;
  --neon-100: #434e04;
  --neon-200: #728505;
  --neon-300: #a1bd05;
  --neon-400: #d2f604;
  --neon-500: #e0fe34;
  --neon-600: #dcf168;
  --neon-700: #deea95;
  --neon-800: #e3eabd;
  --neon-900: #edefde;
  --neon-950: #fbfbf9;

  --astral-50: #111827;
  --astral-100: #202c44;
  --astral-200: #314060;
  --astral-300: #43547b;
  --astral-400: #566994;
  --astral-500: #7081a6;
  --astral-600: #8e9ab4;
  --astral-700: #abb3c4;
  --astral-800: #c7cbd4;
  --astral-900: #e1e3e7;
  --astral-950: #fafafa;

  --neutral-25: #141414;
  --neutral-50: #0f0f0f;
  --neutral-75: #1f1f1f;
  --neutral-100: #292929;
  --neutral-200: #44444b;
  --neutral-300: #4b4b53;
  --neutral-400: #63636c;
  --neutral-500: #7b7b85;
  --neutral-600: #95959c;
  --neutral-700: #afafb3;
  --neutral-800: #c8c8ca;
  --neutral-900: #efefef;
  --neutral-950: #f9f9f9;

  --fathomgray-50: #ffffff;
  --fathomgray-100: #ffffff;
  --fathomgray-200: #ffffff;
  --fathomgray-300: #ffffff;
  --fathomgray-400: #ffffff;
  --fathomgray-500: #ffffff;
  --fathomgray-600: #ffffff;
  --fathomgray-700: #ffffff;
  --fathomgray-800: #ffffff;
  --fathomgray-900: #ffffff;
  --fathomgray-950: #ffffff;
}
