:root {
  --yellow-950: #181201;
  --yellow-900: #4d3803;
  --yellow-800: #825e04;
  --yellow-700: #b88505;
  --yellow-600: #efac04;
  --yellow-500: #fdc22c;
  --yellow-400: #ffd261;
  --yellow-300: #f3d792;
  --yellow-200: #eee0bc;
  --yellow-100: #f1ecde;
  --yellow-50: #f1ecde;

  --red-950: #180105;
  --red-900: #4d0311;
  --red-800: #82041b;
  --red-700: #b80526;
  --red-600: #ef042f;
  --red-500: #fd2c53;
  --red-400: #ff617e;
  --red-300: #f392a4;
  --red-200: #eebcc5;
  --red-100: #f1dee1;
  --red-50: #fbf9f9;

  --purple-950: #0c0316;
  --purple-900: #250a48;
  --purple-800: #3f107c;
  --purple-700: #5815b1;
  --purple-600: #7218e7;
  --purple-500: #8a49df;
  --purple-400: #a175dc;
  --purple-300: #b89cdd;
  --purple-200: #cfc0e2;
  --purple-100: #e5dfec;
  --purple-50: #faf9fb;

  --pink-950: #18010e;
  --pink-900: #4b0329;
  --pink-800: #7e0545;
  --pink-700: #b20561;
  --pink-600: #e6057d;
  --pink-500: #fc2497;
  --pink-400: #fe56b0;
  --pink-300: #ff8ac8;
  --pink-200: #f4b8d8;
  --pink-100: #f3dde9;
  --pink-50: #fbf9fa;

  --orange-950: #180501;
  --orange-900: #480d03;
  --orange-800: #781604;
  --orange-700: #a91d04;
  --orange-600: #db2404;
  --orange-500: #fd3613;
  --orange-400: #ff5f42;
  --orange-300: #f18f7d;
  --orange-200: #ebb8af;
  --orange-100: #efdcd9;
  --orange-50: #fbf9f9;

  --neutral-950: #141414;
  --neutral-900: #0f0f0f;
  --neutral-800: #36363c;
  --neutral-700: #4b4b53;
  --neutral-600: #63636c;
  --neutral-500: #7b7b85;
  --neutral-400: #95959c;
  --neutral-300: #afafb3;
  --neutral-200: #c8c8ca;
  --neutral-100: #efefef;
  --neutral-75: #f9f9f9;
  --neutral-50: #fcfcfc;
  --neutral-25: #fefefe;

  --neon-950: #151801;
  --neon-900: #434e04;
  --neon-800: #728505;
  --neon-700: #a1bd05;
  --neon-600: #d2f604;
  --neon-500: #e0fe34;
  --neon-400: #dcf168;
  --neon-300: #deea95;
  --neon-200: #e3eabd;
  --neon-100: #edefde;
  --neon-50: #fbfbf9;

  --indigo-950: #040317;
  --indigo-900: #0a0845;
  --indigo-800: #100d74;
  --indigo-700: #1511a4;
  --indigo-600: #1a14d5;
  --indigo-500: #352fee;
  --indigo-400: #635ef3;
  --indigo-300: #928fea;
  --indigo-200: #bbb9e9;
  --indigo-100: #ddddee;
  --indigo-50: #f9f9fb;

  --green-950: #01180d;
  --green-900: #024d28;
  --green-800: #008542;
  --green-700: #09aa59;
  --green-600: #16ca70;
  --green-500: #33db87;
  --green-400: #64d89e;
  --green-300: #90dab5;
  --green-200: #b8e0cc;
  --green-100: #dbebe3;
  --green-50: #f9fbfa;

  --fathomgray-950: #0c0c0d;
  --fathomgray-900: #262629;
  --fathomgray-800: #3f3f46;
  --fathomgray-700: #55555d;
  --fathomgray-600: #6c6c75;
  --fathomgray-500: #83838b;
  --fathomgray-400: #9b9ba1;
  --fathomgray-300: #b3b3b7;
  --fathomgray-200: #cbcbcd;
  --fathomgray-100: #e3e3e3;
  --fathomgray-50: #fafafa;

  --cyan-950: #011418;
  --cyan-900: #033e4b;
  --cyan-800: #05687e;
  --cyan-700: #0592b2;
  --cyan-600: #05bde6;
  --cyan-500: #24d4fc;
  --cyan-400: #56dffe;
  --cyan-300: #8ae9ff;
  --cyan-200: #b8e9f4;
  --cyan-100: #ddeff3;
  --cyan-50: #f9fbfb;

  --blue-950: #010818;
  --blue-900: #03184d;
  --blue-800: #052883;
  --blue-700: #0538ba;
  --blue-600: #0448f2;
  --blue-500: #306bfd;
  --blue-400: #6691ff;
  --blue-300: #95b0f3;
  --blue-200: #beccef;
  --blue-100: #dfe4f1;
  --blue-50: #f9f9fb;

  --astral-950: #111827;
  --astral-900: #202c44;
  --astral-800: #314060;
  --astral-700: #43547b;
  --astral-600: #566994;
  --astral-500: #7081a6;
  --astral-400: #8e9ab4;
  --astral-300: #abb3c4;
  --astral-200: #c7cbd4;
  --astral-100: #e1e3e7;
  --astral-50: #fafafa;
}
